<div class="container py-3">
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group mb-3">
        <label for="title" class="fs-2">Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Title"
          name="Title"
          formControlName="title"
          [ngClass]="
            surveyForm.get('title')?.touched && surveyForm.get('title')?.invalid
              ? 'border border-danger'
              : ''
          "
        />
      </div>
    </div>
    <div formArrayName="questions">
      <div *ngFor="let question of questions.controls; let i = index">
        <label for="question-{{ i }}" class="fs-4">Question {{ i + 1 }}</label>

        <div class="input-group mb-3">
          <button
            class="btn-small btn-dark btn col-auto"
            (click)="deleteQuestion(i)"
          >
            Delete
          </button>
          <input
            id="question-{{ i }}"
            type="text"
            class="form-control form-control-lg"
            [formControlName]="i"
            placeholder="Question"
            [ngClass]="
              questions.at(i).touched && questions.at(i).invalid
                ? 'border border-danger'
                : ''
            "
            required
          />
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-dark" type="button" (click)="addQuestion()">
        + Question
      </button>
    </div>

    <button
      type="submit"
      class="btn btn-outline-dark my-2"
      [disabled]="surveyForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
