<div class="bg-light my-2">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-white bg-dark" style="border-radius: 25px">
          <div class="card-body my-5 pb-3">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up
                </p>

                <form
                  [formGroup]="signUpForm"
                  class="mx-1 mx-md-4"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        formControlName="firstName"
                      />
                      <label class="form-label" for="firstName"
                        >Your First Name</label
                      >
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="lastName"
                        class="form-control"
                        formControlName="lastName"
                      />
                      <label class="form-label" for="lastName"
                        >Your Last Name</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        formControlName="email"
                      />
                      <label class="form-label" for="email">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        formControlName="password"
                      />
                      <label class="form-label" for="password">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="password"
                        id="confirmPassword"
                        class="form-control"
                        formControlName="confirmPassword"
                      />
                      <label class="form-label" for="confirmPassword"
                        >Confirm your password</label
                      >
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0 text-center">
                      <a routerLink="/auth/signin" class="text-white"
                        >Already registered? Sign In!</a
                      >
                    </div>
                  </div>
                  <ng-container
                    *ngIf="
                      signUpForm.dirty &&
                      signUpForm.touched &&
                      signUpForm.status === 'INVALID'
                    "
                  >
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0 text-center">
                        <p class="text-white">Form Has Errors</p>
                      </div>
                    </div>
                  </ng-container>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-lg text-white"
                      [disabled]="!signUpForm.valid"
                    >
                      Sign Up!
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
