<div class="container">
  <footer class="navbar navbar-light bg-light border-top border-3">
    <div class="d-flex w-100 justify-content-center align-content-center">
      <p class="py-3">
        © {{ year }} Copyright:
        <span>
          <a
            class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="https://github.com/rpsbobby"
            target="_blank"
          >
            Robert Szlufik
          </a>
        </span>
      </p>
    </div>
  </footer>
</div>
