<app-navbar></app-navbar>
<div class="vh-100">
  <div class="navbar-background text-center py-2">
    <p class="h1">{{ survey.title }}</p>
  </div>
  <div class="container">
    <ng-container *ngFor="let q of survey.questions">
      <div class="input-group mt-3">
        <input
          class="form-control fs-3 text-center"
          placeholder="{{ q.question }}"
          disabled
        />
        <button (click)="deleteQuestion(q['id'])" class="btn btn-primary">
          Delete Question
        </button>
      </div>
    </ng-container>
  </div>
</div>
